{# ----------------------------------------------------------- #}
{# httpproxy.html.j2                                           #}
{# ----------------------------------------------------------- #}
{# Author: SAS Institute Inc.                                  #}
{# ----------------------------------------------------------- #}
{# Copyright (c) 2021, SAS Institute Inc., Cary, NC, USA.      #}
{# All Rights Reserved.                                        #}
{# SPDX-License-Identifier: Apache-2.0                         #}
{# ----------------------------------------------------------- #}

{# HTTPProxy (Contour) Template #}
{% extends "resource.html.j2" %}

{% block additional_resource_details %}
{% if resource_details.resourceDefinition.spec.routes|default([]) | length > 0 %}
<h7>Routes</h7>
<table>
{% for route in resource_details.resourceDefinition.spec.routes|default([]) %}
{% for condition in route.conditions|default([]) %}
{% if condition.prefix|default("") != "" %}
  <tr>
    <td>{{ condition.prefix }}</td>
  </tr>
{% endif %}
{% endfor %}
{% endfor %}
</table>
{% endif %}
{% endblock %}